/*
Name: Rouven Sahertian	
Matrikel: 259665
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.
*/

/* Die Schriftart "Anton" wird aus google importiert */
@import url('https://fonts.googleapis.com/css?family=Anton');



html {
	font-family: 'Anton', sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	color: black;
	text-align: center;
}

h1 {
	color: darkgreen;
	
}

a {
	text-decoration: none;
	background-color: darkgreen;
	color: white;
	font-weight: bold;
	padding: 0.4em;
	
}

a:hover {
	text-decoration: none;
	background-color: white;
	color: darkgreen;
	font-weight: bold;
	padding: 0.4em;
}